header{
    font-size: larger;
}
body
{
    margin: 0 auto; text-align: center; 
   
        background-image: url(img/dana.png);
        background-repeat: no-repeat;
        background-size: 100%;
        
       
}
h1{
    color :rgb(241, 104, 12);
    background-color: aquamarine;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p{
    color :chocolate;
    
    
    font-size:larger;
    font-style:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}